*{
    box-sizing: border-box;
}

body{
    margin: 0;
    font-family: "Kosugi Maru", sans-serif;
    color: #2F0000;
}
#logoimg{
    position: relative;
    top: 5px;
    left: 2%;
    width: 6%;
    min-width: 70px;
}

#words, #words2, #words3, #words4, #words5, #words6, #words7, #words8, #words9{
    position: absolute;
    width: 38%;
    /* opacity: 100%; */
    transition: opacity 0.5s;
}

.txtr{
    position: absolute;
    right: 200px;
    top: 50px;
    opacity: 100%;
}

.txtl{
    position: absolute;
    top: 60px;
    left: 215px;
    /* right: 200px; */
    opacity: 100%;
}

.carousel-cont{
    position: relative;
    top: -60px;
    width: 80%;
    min-width: 90vw;
    min-height: 90vh;
    overflow:hidden;
    margin: 60px auto;
}

#carousel{
    position: relative;
    width: 40%;
    /* height: 150%; */
    left: 10%;
    border: 2px solid #2F0000;
    object-fit: cover;
    transition: opacity 0.5s ease-in-out;
}

#carousel2{
    position: relative;
    left: 9%;
    width: 40%;
    /* height: 150%; */
    border: 2px solid #2F0000;
    object-fit: cover;
    transition: opacity 0.5s ease-in-out;
}

.arrow{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 2.5rem;
    color:#2F0000;
    background: none;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 10;
    transition: 0.3s;
}

.arrow:hover{
    font-size: 2.7rem;
}
.arrow-right{
    right: 20px;
}