*{
    box-sizing: border-box;
}

body{
    margin: 0;
    font-family: "Kosugi Maru", sans-serif;
    color: #2F0000;
}

.carousel-cont{
    position: relative;
    width: 80%;
    min-width: 90vw;
    min-height: 90vh;
    overflow:hidden;
    margin: 60px auto;
}

#carousel{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: opacity 0.5s ease-in-out;
}

.arrow{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 2.5rem;
    color:#2F0000;
    background: none;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 10;
    transition: 0.3s;
}

.arrow:hover{
    font-size: 2.7rem;
}
.arrow-right{
    right: 20px;
}