@import url('https://fonts.googleapis.com/css2?family=Kosugi&family=Kosugi+Maru&display=swap');

* {
    box-sizing: border-box;
}

p, a {
    color: #2F0000;
    font-family: "Kosugi Maru", sans-serif;
    font-weight: 400;
    font-style: normal;
}

a {
    font-size: 1.5rem;
    text-decoration: none;
}

body{
    overflow-x:hidden ;
}

#home-foot{
    position: relative;
    width: 100%;
    display: flex;
    align-items: flex-end;
    top: 270px;
    left: -3%;
    gap: 2%;
}
footer p{
    position: relative;
    float:left;
    left: 5%;
}

#footerbg{
    position: absolute;
    width: 106%;
    left: -2%;
    z-index: -50;
}

.foot-right{
    position:relative;
    float: right;
    right: -65%;
    overflow: auto;
}

#about-foot{
    position: absolute;
    width: 100%;
    left: -3%;
    display: flex;
    flex-wrap: wrap;
    gap: 2%;
}

#instimg{
    position: relative;
    width: 10%;
}

#instimg2{
    position: relative;
    width: 100px;
    transition: .2s;
}

#instimg2:hover{
    scale: 1.05;
}

#tumblrimg{
    position: relative;
    top: -18px;
    left: 10px;
    width: 6%;
}

#tumblrimg2{
    position: relative;
    top: -25px;
    left: 15px;
    width: 60px;
    transition: 0.2s;
}

#tumblrimg2:hover{
    scale:1.05;
}

#bskyimg{
    position: relative;
    top: -13px;
    width: 7%;
}

#bskyimg2{
    position: relative;
    top: -25px;
    width: 60px;
    transition: .2s;
}

#bskyimg2:hover{
    scale:1.05;
}

#bgimg{
    position:absolute;
    left: 0;
    top: 40%;
    width: 100%;
    z-index: -60;
    /* height: 90%; */
}

.navright{
    position: relative;
    float: right;
    top: 30px;
    right: 2%;
}

.navright a{
    margin: 20px;
    padding: 10px;
    transition: .2s;
}

.navright a:hover{
    text-decoration: underline;
}

/*Images in the navigations system.  */
#logoimg{
    position: relative;
    top: 5px;
    left: 2%;
    width: 6%;
    min-width: 70px;
}
#navborder {
    position: absolute;
    left: 0px;
    top: 95px;
    width: 100%;
}

/* Body sections of the CSS */

.headsummary{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.headsummary p{
    -webkit-text-stroke: 8px white;
}
.fix-stroke {
    paint-order: stroke fill;
 }

.headsummary p{
    max-width: 70ch;
    text-align: center;
    font-size: clamp(1rem, 0.75rem + 0.625vw, 1.5rem);
    /* font-size: 1.5rem; */
}
#titlesize{
    position: relative;
    margin-top: 5%;
    width: 30%;
}

#titlesize2{
    position: relative;
    left: -20px;
    width: 30%;
}


/* Table of content stuff for the main pages yip yip */
.toc-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#tocelement{
    position:absolute;
    width: 60%;
    margin-top: 7%;
}

#tochead{
    position: relative;
    margin-top: 7%;
    width: 40%;
}

.toc-buttons{
    position: relative;
    margin: 5%;
    display: grid;
    /* flex-direction: grid; */
    grid-template-columns: repeat(3, 1fr);
    /* flex: 1 1 auto; */
    gap: 30px;
}

.overflowbutton{
    width: 300px;
    height: 280px;
    transition: .2s;
    background: url("assets/overflowinactive.png");
    background-size: contain;
    background-repeat: no-repeat;
}

.overflowbutton:hover{
    background: url("assets/overflowactie.png"); 
    background-size: contain;
    background-repeat: no-repeat;
}

.oceanbutton{
    position: relative;
    top: 30%;
    width: 300px;
    height: 280px;
    transition: .2s;
    background: url("assets/oceaninactive.png");
    background-size: contain;
    background-repeat: no-repeat;
}

.oceanbutton:hover{
    background: url("assets/oceanactive.png");
    background-size: contain;
    background-repeat: no-repeat;
}

.shoalbutton{
    width: 300px;
    height: 280px;
    transition: .2s;
    background: url("assets/shoalinactive.png");
    background-size: contain;
    background-repeat: no-repeat;
}

.shoalbutton:hover{
    background: url("assets/shoalactive.png");
    background-size: contain;
    background-repeat: no-repeat;
}

.symbiosisbutton{
    width: 300px;
    height: 280px;
    transition: .2s;
    background: url("assets/symbiosisinactive.png");
    background-size: contain;
    background-repeat: no-repeat;
}

.symbiosisbutton:hover{
    background: url("assets/symbiosisactive.png");
    background-size: contain;
    background-repeat: no-repeat;
}

.hookimg{
    position: relative;
    left: 40%;
}

.hookimg img{
    height: 300px;
}

.anglerbutton{
    width: 300px;
    height: 280px;
    transition: .2s;
    background: url("assets/anglerinactive.png");
    background-size: contain;
    background-repeat: no-repeat;
}

.anglerbutton:hover{
    background: url("assets/angleractive.png");
    background-size: contain;
    background-repeat: no-repeat;
}


/* About css here just for organizations purposes */

.about-container{
    position: relative;
    top: 10px;
    padding: 5%;
    left: 70px;
    display: flex;
    flex-direction: row;
    gap: 2%;
    justify-content: center;
    align-items: center;
}

#coverimg{
    width: 35%;
    border: 3px solid #2F0000;
}

#aboutimg{
    width: 30%;
}

.about-container p {
    font-size: 1.225rem;
    min-width: 80ch;
    max-width: 90ch;
}