*{
    box-sizing: border-box;
}

body{
    margin: 0;
    font-family: "Kosugi Maru", sans-serif;
    color: #2F0000;
}
#logoimg{
    position: relative;
    top: 5px;
    left: 2%;
    width: 6%;
    min-width: 70px;
}

#words, #words2, #words3, #words4, #words5, #words6, #words7, #words8, #words9, #words10, #words11, #words12, #words13, #words14, #words15, #words16{
    position: absolute;
    width: 36.5%;
    object-fit: cover;
    
    z-index: 200;
    /* transition: opacity 0.5s; */
}

.oceantitle{
    top: 10%;
    left: 13%;
}

.carousel-cont{
    position: relative;
    top: -60px;
    width: 80%;
    min-width: 90vw;
    min-height: 90vh;
    overflow:hidden;
    margin: 60px auto;
}

#carousel{
    position: relative;
    width: 40%;
    /* height: 150%; */
    left: 10%;
    border: 2px solid #2F0000;
    object-fit: cover;
    transition: opacity 0.5s ease-in-out;
}

#carousel2{
    position: relative;
    left: 9.4%;
    width: 40%;
    /* height: 150%; */
    border: 2px solid #2F0000;
    object-fit: cover;
    transition: opacity 0.5s ease-in-out;
}

.arrow{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 2.5rem;
    color:#2F0000;
    background: none;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 10;
    transition: 0.3s;
}
#ar2{
    opacity: 0;
}

.arrow:hover{
    font-size: 2.7rem;
}
.arrow-right{
    right: 20px;
}

/* Pages */

.symtitle{
    position: absolute;
    top: 7.5%;
    left: 13%;
    
}
.symtitle2{
    position: absolute;
    top: 10.5%;
    left: 14.5%;
    
}

.pg1R1{
    right: 13.7%;
    top: 10%; 
}
.pg1R2{
    right: 12%;
    top: 10%; 
}
.pg2L1{
    left: 13%;
    top: 11%; 
}
.pg2L2{
    left: 13.5%;
    top: 11%; 
}
.pg2L3{
    left: 13.5%;
    top: 10%; 
}
.pg2L4{
    left: 13.5%;
    top: 10%; 
}
.pg2L5{
    left: 13.5%;
    top: 10%; 
}
.pg2L6{
    left: 12%;
    top: 10%; 
}
.pg2L7{
    left: 13.8%;
    top: 10%; 
}
.pg2L8{
    left: 13.5%;
    top: 10%; 
}

.pg3R1{
    right: 13.7%;
    top: 10%; 
}
.pg3R2{
    right: 13.7%;
    top: 10%; 
}
.pg3R3{
    right: 15.7%;
    top: 10%; 
}
.pg3R4{
    right: 13.7%;
    top: 10%; 
}
.pg3R5{
    right: 13.7%;
    top: 10%; 
}
.pg3R6{
    right: 12%;
    top: 10%; 
}
.pg3R7{
    right: 14%;
    top: 10%; 
}
.pg3R8{
    right: 13.7%;
    top: 10%; 
}
.pg4L1, .pg4L2, .pg4L3, .pg4L4, .pg4L5{
    left: 13.7%;
    top: 10%; 
}
.pg5R1, .pg5R2, .pg5R3, .pg5R4, .pg5R5{
    right: 13.7%;
    top: 10%; 
}